<mat-card class="home-card">
    <div class="row">
        <div class="col-sm-6 action"><mat-icon aria-hidden="false" (click)="choose(actionCreate)" class="icon-action">add</mat-icon> <p>{{'CREATE' | translate }}</p></div>
        <div class="col-sm-6 action"><mat-icon aria-hidden="false" (click)="choose(actionJoin)" class="icon-action">launch</mat-icon> <p>{{'JOIN' | translate }}</p></div>
    </div>
</mat-card>
<mat-card class="home-card" *ngIf="action   ">
    <form [formGroup]="currentForm">
    <div class="row">
        <div class="col-sm-8">
            <label>
                <input type="text" formControlName="room" class="full-height">
              </label>
        </div>
        <div class="col-sm-4">
            <button type="submit" *ngIf="currentForm.valid && action === actionCreate" class="btn btn-primary">{{ 'CREATE_SUBMIT' | translate }}</button>
            <button type="submit" *ngIf="currentForm.valid && action === actionJoin" class="btn btn-primary">{{ 'JOIN_SUBMIT' | translate }}</button>
        </div>
    </div>       
    </form>
</mat-card>
