<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport="true"
        [attr.role]="isHandset ? 'dialog' : 'navigation'"
        [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
        [opened]="isOpen">
        <mat-toolbar color="primary" (click)="isOpen = !isOpen">Menu</mat-toolbar>

        <mat-nav-list>
            <div *ngFor="let menu of listMenu" (click)="goTo(menu.url)">
                <a mat-list-item (click)="goTo(menu.url)">{{menu.item}}</a>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle();isOpen =true;">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span (click)="isOpen = !isOpen" class="click-me">Agile App</span>
            <span class="click-me home" (click)="goTo('home')"
            matTooltip="Home">
            </span>
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>
